@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
  color: #333;
	line-height: 1.5;
}
body {
	background-color: #f3f3f3;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #e7e7e7;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
#footer a:hover {
  color: #ffb600;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 60px;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
  font-weight: normal;
  line-height: 2.5em;
}
nav h1 a {
  color: #fff;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 6px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 20px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    /* width: calc(50% - 80px); */
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0467c2;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 300px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filters {
  width: 100%;
  height: auto;
  background-color: #3397DB;
  align-items: center;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options {
  display: flex;
  flex-wrap: wrap;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 100%;
  max-width: 300px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 20px 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#restaurants-list li {
  background-color: transparent;
  font-family: Arial,sans-serif;
  margin: 15px 0;
  min-height: 400px;
  padding: 0;
  text-align: left;
  width: 100%;
}

#restaurants-list article {
  background: #fff;
  padding: 1em;
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 20px);
  border-radius: 3px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 480px) {
  nav {
    height: 80px;
  }

  nav h1 a {
    letter-spacing: 8px;
    font-size: 16pt;
    line-height: 4em;
  }

  #restaurants-list li {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  #map {
    height: 400px;
  }
  nav h1 a {
    letter-spacing: 10px;
  }

  #restaurants-list li {
    width: 33%;
  }
}

@media screen and (min-width: 1200px) {
  .filter-options,
  .restaurants-container {
    width: 1200px;
    margin: 0 auto;
  }

  #restaurants-list li {
    width: 25%;
  }
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  min-width: 100%;
}
#restaurants-list li h1 {
  color: #ae6309;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
  flex-grow: 1;
}
#restaurants-list .neighborhood {
  font-weight: 700;
  color:#212121;
}
#restaurants-list .address {
  line-height: 1.1;
  font-weight: 400;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #727272;
}
#restaurants-list li a {
  background-color: #ae6309;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */

.inside main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.inside section {
  width: 100%;
}

.inside header {
  background: #eee;
}

#restaurant-name {
  color: #ae6309;
  font: 200 20pt/1.1 Arial,sans-serif;
  margin: 15px 20px 20px 0;
  text-transform: uppercase;
  text-align: left;
}
#restaurant-img {
	border-radius: 6px;
}
#restaurant-address {
  font-size: 12pt;
  font-weight: 700;
  color: #212121;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 400;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
}
#restaurant-container article{
  padding: 0 20px 20px;
}
#restaurant-container picture {
  display: block;
  text-align: center;
}
#reviews-container {
  padding: 20px;
}
#reviews-container h2 {
  color: #ae6309;
  font-size: 18pt;
  font-weight: 400;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border-top: 6px solid #ffb600;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 0 10px;
  position: relative;
  box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.2);
}
#reviews-list li p {
  margin: 0;
  padding: 10px 20px;
}
#reviews-list .name {
  background: hsl(0, 0%, 97%);
  padding: 20px 20px 10px;
  font-weight: 700;
  font-size: 14pt;
  color:#212121;
}
#reviews-list .datetime,
#reviews-list .rating {
  line-height: 1.1;
  font-weight: 400;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #727272;
  display: inline-flex;
  justify-content: space-around;
}
#reviews-list .datetime::before {
  content: '\1F4C6';
  padding-right: 5px;
}

#reviews-list .rating::before {
  content: '\2605';
  padding-right: 5px;
}
#reviews-list .comments {
  color: #494949;
  line-height: 1.7em;
  font-size: 11pt;
}
#restaurant-schedule {
  width: 90%;
}
#restaurant-schedule th {
  text-align: left;
  color: #212121;
}
#restaurant-hours td,
#restaurant-hours th {
  font-weight: normal;
  color: #666;
  width: 65%;
}
#restaurant-hours tr > th {
  width: 35%;
}
#restaurant-img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .inside #map-container {
    width: 50%;
    min-height: 100%;
  }
  .inside #map {
    height: 100%;
  }
  .inside #map-container {
    width: 50%;
    min-height: 100%;
    border-radius: 6px;
    border-top: 4px solid rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 4px 6px 6px 0px rgba(0, 0, 0, 0.2);
  }
  .inside #restaurant-container {
    width: calc(50% - 20px);
    order: -1;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    right: -5px;
    padding-top: 20px;
    margin-left: 15px;
    background: #eee;
  }
}
@media screen and (min-width: 1200px) {
  #breadcrumb, .inside main {
    width: 1200px;
    margin: 0 auto;
  }
  #breadcrumb > li {
    margin-left: 15px;
  }
  #restaurant-schedule {
    width: 70%;
    margin: 0 auto;
  }
}