<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#db5945">
  <link rel="manifest" href="manifest.json">
  <link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css" />
  <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
  <% } %>
  <title><%= htmlWebpackPlugin.options.title || 'MWSND stage 1'%></title>
</head>

<body>
  <noscript>
    <p>Sorry, it seems that you don´t have support for JavaScript</p>
  </noscript>
  <header>
    <nav>
      <h1><a href="/">Restaurant Reviews</a></h1>
    </nav>
  </header>
  <main id="maincontent" role="main">
      <a class="hidden" href="#restaurant-info">Skip map</a>
    <section id="map-container" aria-hidden="true">
      <div id="map" aria-role="application"></div>
    </section>
    <section id="restaurant-info">
      <div class="filters">
        <div class="filter-options">
          <h2 class="hidden">Filter Results</h2>
          <label class="hidden" for="neighborhoods-select">Select neighborhoods</label>
          <select id="neighborhoods-select" name="neighborhoods" onchange="updateRestaurants()">
            <option value="all">All Neighborhoods</option>
          </select>
          <label class="hidden" for="cuisines-select">Select cuisines</label>
          <select id="cuisines-select" name="cuisines" onchange="updateRestaurants()">
            <option value="all">All Cuisines</option>
          </select>
        </div>
      </div>
      <div class="restaurants-container">
        <ul id="restaurants-list"></ul>
      </div>
    </section>
  </main>

  <footer id="footer" role="contentinfo">
    Copyright (c) 2017 <a href="/"><strong>Restaurant Reviews</strong></a> All Rights Reserved.
  </footer>

  <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
  <% } %>
  
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD59tisJoZ8dQy3Nh_7xSDzRZGuMfC6CCQ&libraries=places"></script>
</body>

</html>
