<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#db5945">
  <!-- Normalize.css for better cross-browser consistency -->
  <link rel="manifest" href="manifest.json">
  <link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css" />
  <!-- Main CSS file -->
  <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
  <% } %>
  <title><%= htmlWebpackPlugin.options.title || 'Webpack App'%></title>
</head>

<body class="inside">
    <noscript>
    <p>Sorry, it seems that you don´t have support for JavaScript</p>
  </noscript>
  <!-- Beginning header -->
  <header>
    <!-- Beginning nav -->
    <nav>
      <h1><a href="/">Restaurant Reviews</a></h1>
    </nav>
    <!-- Beginning breadcrumb -->
    <ul id="breadcrumb" role="navigation">
      <li><a href="/">Home</a></li>
    </ul>
    <!-- End breadcrumb -->
    <!-- End nav -->
  </header>
  <!-- End header -->
  <!-- Beginning main -->
  <main id="maincontent" role="main">
    <!-- Beginning map -->
    <a class="hidden" href="#restaurant-container">Skip map</a>
    <section id="map-container" aria-hidden="true">
      <div id="map" aria-role="application"></div>
    </section>
    <!-- End map -->
    <!-- Beginning restaurant -->
    <section id="restaurant-container">
      <article>
        <h1 id="restaurant-name"></h1>
        <picture id="img-container">
          <img id="restaurant-img">
        </picture>
        <p id="restaurant-cuisine"></p>
        <p id="restaurant-address"></p>
        <table summary="Restaurant weekly schedule" id="restaurant-schedule">
          <thead>
            <tr>
              <th scope="col">Week days</th>
              <th scope="col">Opening hours</th>
            </tr>
          </thead>
          <tbody id="restaurant-hours"></tbody>
        </table>
      </article>
    </section>
    <!-- end restaurant -->
    <!-- Beginning reviews -->
    <section id="reviews-container">
      <fieldset>
        <legend>Add your own review</legend>
        <form id="reviews-form">
          <div class="review-user-name">
            <label for="review-user-name">User name</label>
            <input type="text" id="review-user-name">
          </div>
          <div class="review-restaurant-rating">
            <label for="review-restaurant-rating">Rating</label>
            <select id="review-restaurant-rating">
              <option value="">Rate restaurant</option>
              <option value="1">Extremely bad - 1</option>
              <option value="2">Very bad - 2</option>
              <option value="3">Not bad - 3</option>
              <option value="4">Very good - 4</option>
              <option value="5">Extremely good - 5</option>
            </select>
          </div>
          <div class="review-user-comments">
            <label for="review-user-comments">Comments (required)</label>
            <textarea id="review-user-comments" cols="30" rows="10"></textarea>
          </div>
          <button type="submit" id="review-submit">Submit</button>
          <div id="network">
            Currently, you are offline. We will save your review and save whenever you are back online
          </div>
        </form>
      </fieldset>
      <hr>
      <ul id="reviews-list"></ul>
    </section>
    <!-- End reviews -->
  </main>
  <!-- End main -->

  <!-- Beginning footer -->
  <footer id="footer" role="contentinfo">
    Copyright (c) 2017 <a href="/"><strong>Restaurant Reviews</strong></a> All Rights Reserved.
  </footer>
  <!-- End footer -->
  
  <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
  <% } %>
  <!-- Google Maps -->
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD59tisJoZ8dQy3Nh_7xSDzRZGuMfC6CCQ&libraries=places"></script> 
  <!-- End scripts -->

</body>

</html>
